.fridx-onecol {
  width: 4.7%;
}

.fridx-twocol {
  width: 13.2%;
}

.fridx-threecol {
  width: 22.05%;
}

.fridx-fourcol {
  width: 30.6%;
}

.fridx-fivecol {
  width: 39%;
}

.fridx-sixcol {
  width: 48%;
}

.fridx-sevencol {
  width: 56.75%;
}

.fridx-eightcol {
  width: 61.6%;
}

.fridx-ninecol {
  width: 74.05%;
}

.fridx-tencol {
  width: 82%;
}

.fridx-elevencol {
  width: 91.35%;
}
